$color-accent: #3B2317;
$color-primary: #513C27;
$color-text-muted: #94897c;

%opensans-300 {
  font-family: 'OpenSans-Light', sans-serif;
  font-weight: 300;  
}

%opensans-700 {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700;  
}

%opensans-400 {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;  
}

%inter-400 {
  font-family: 'Inter-Regular', sans-serif;
  font-weight: 400;  
}

%lora-400 {
  font-family: 'Lora-Regular', sans-serif;
  font-weight: 400;  
}

%lora-500 {
  font-family: 'Inter-Lora-Medium', sans-serif;
  font-weight: 500;  
}